.w1220 {
    width: 1220px;
}

.f5 {
    flex: 5;
}

.f7 {
    flex: 7;
}

.m-l-15 {
    margin-left: 30px;
}

.fs24 {
    font-size: 24px;
}

.m-l-14 {
    margin-left: 14px;
}

.p-l-20 {
    padding-left: 20px;
}

.w80 {
    width: 80px;
}

.wb49 {
    width: 49%;
}

.wb24 {
    width: 24%;
}

.p-l-r-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.username_box{
    .ivu-form-item-content{
        margin-left: 0px ;
    }
    

}

